###Name : Niharika Nashine
###Batch : B1
###Roll no : 10
###Deep Learning  II Practical 1
###Baysian Network:-

### Module 1: Introduction to Graphical Model - Joint Probability Distribution

In [ ]:
# Reading the Data using pandas
import pandas as pd
data = pd.read_csv('/content/Purchase Behavior.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
data.shape

(400, 5)

In [ ]:
#Joint Probability
joint_prob_Gender = data.groupby(['Gender','Purchased']).size()/400
print("Joint Probability based on Gender \n", joint_prob_Gender, end="\n")

Joint Probability based on Gender
 Gender  Purchased
Female  0            0.3175
        1            0.1925
Male    0            0.3250
        1            0.1650
dtype: float64

In [ ]:
#Joint Probability
joint_prob_Age = data.groupby(['Age','Purchased']).size()/400
print("Joint Probability based on Age \n ", joint_prob_Age, end="\n")

Joint Probability based on Age
  Age  Purchased
18   0            0.0125
19   0            0.0175
20   0            0.0175
21   0            0.0100
22   0            0.0125
                   ...
57   1            0.0125
58   1            0.0150
59   0            0.0050
     1            0.0125
60   1            0.0175
Length: 70, dtype: float64

In [ ]:
#Joint Probability
Joint_Prob_Age_Gender = data.groupby(['Age','Gender','Purchased']).size()/400
print("Joint Probability based on Age, Gender \n", Joint_Prob_Age_Gender, end="\n")

Joint Probability based on Age, Gender
 Age  Gender  Purchased
18   Female  0            0.0075
     Male    0            0.0050
19   Female  0            0.0050
     Male    0            0.0125
20   Female  0            0.0100
                           ...
59   Female  0            0.0050
             1            0.0075
     Male    1            0.0050
60   Female  1            0.0050
     Male    1            0.0125
Length: 119, dtype: float64

 Q1: What is the joint probability of a Male aged 35 purchasing a car?

In [ ]:
prob_q1 = Joint_Prob_Age_Gender.get((35, 'Male', 1), 0)
print(f"Joint Probability (Male, Age 35, Purchased=1): {prob_q1}")

Joint Probability (Male, Age 35, Purchased=1): 0.0025

Q2: What is the joint probability of a Female aged 40 NOT purchasing a car?

In [ ]:
prob_q2 = Joint_Prob_Age_Gender.get((40, 'Female', 0), 0)
print(f"Joint Probability (Female, Age 40, Purchased=0): {prob_q2}")

Joint Probability (Female, Age 40, Purchased=0): 0.0075

Q3: What is the total joint probability for Age 25, regardless of Gender or Purchase?

In [ ]:
age_25_data = data[data['Age'] == 25]
prob_q3 = len(age_25_data) / 400
print(f"Total Joint Probability for Age 25: {prob_q3}")

Total Joint Probability for Age 25: 0.015

Q4: What is the conditional probability of purchase given Male and Age 50?

In [ ]:
subset_q4 = data[(data['Age'] == 50) & (data['Gender'] == 'Male')]
purchased_q4 = subset_q4[subset_q4['Purchased'] == 1]
prob_q4 = len(purchased_q4) / len(subset_q4) if len(subset_q4) > 0 else 0
print(f"Conditional Probability (Male, Age 50, Purchased=1 | Male, Age 50): {prob_q4}")

Conditional Probability (Male, Age 50, Purchased=1 | Male, Age 50): 0

Q5: For all Females, what is the probability of purchasing a car?

In [ ]:
female_data = data[data['Gender'] == 'Female']
purchased_female = female_data[female_data['Purchased'] == 1]
prob_q5 = len(purchased_female) / len(female_data) if len(female_data) > 0 else 0
print(f"Probability (Female, Purchased=1): {prob_q5}")

Probability (Female, Purchased=1): 0.37745098039215685

6. Calculate the joint probability that a customer is 30 years old, male, and purchased a car.

7. Determine the joint probability for a female aged 40 who did not purchase a car.

8. What is the joint probability that a randomly selected individual aged 50, regardless of gender, has purchased a car?

9. If the joint probability of purchasing a car at age 28 for males is 0.06 and for females is 0.04, what is the total joint probability for age 28?

10. For age 45, if the joint probability of purchasing a car for males is 0.08 and not purchasing is 0.02, what is the conditional probability of purchasing given the person is a 45-year-old male?

#### Assignment

6:-

In [ ]:
prob_q6 = Joint_Prob_Age_Gender.get((30, 'Male', 1), 0)
print(f"Joint Probability (Age 30, Male, Purchased=1): {prob_q6}")

Joint Probability (Age 30, Male, Purchased=1): 0.005

7:

In [ ]:
prob_q7 = Joint_Prob_Age_Gender.get((40, 'Female', 0), 0)
print(f"Joint Probability (Age 40, Female, Purchased=0): {prob_q7}")

Joint Probability (Age 40, Female, Purchased=0): 0.0075

8:

In [ ]:
prob_q8 = Joint_Prob_Age_Gender.get((50, 'Male', 1), 0) + Joint_Prob_Age_Gender.get((50, 'Female', 1), 0)
print(f"Joint Probability (Age 50, Purchased=1): {prob_q8}")

Joint Probability (Age 50, Purchased=1): 0.0075

9:

In [ ]:
joint_prob_male_p_age_28 = 0.06
joint_prob_female_p_age_28 = 0.04
total_joint_prob_age_28 = joint_prob_male_p_age_28 + joint_prob_female_p_age_28
print(f"Total Joint Probability for Age 28: {total_joint_prob_age_28}")

Total Joint Probability for Age 28: 0.1

9:

In [ ]:
joint_prob_male_45_p = 0.08
joint_prob_male_45_not_p = 0.02
prob_male_45 = joint_prob_male_45_p + joint_prob_male_45_not_p
conditional_prob_p_male_45 = joint_prob_male_45_p / prob_male_45 if prob_male_45 > 0 else 0
print(f"Conditional Probability (Purchased=1 | Age 45, Male): {conditional_prob_p_male_45}")

Conditional Probability (Purchased=1 | Age 45, Male): 0.7999999999999999

Conclusion : I have succesfully implemented Bayesian network and completeds all the assigmnets using joint probabiltity